@charset "UTF-8";
// body{ background: #fafafa;}
.hui666{color:#666; }
.hui999{color:#999; }
.text-center{text-align:center;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.p075{padding: 0 .75rem;}
.fl{float: left;}
.fr{float: right;}
a{color: #3b3b3b;}
.fz6{font-size: .6rem;}
.fz20{font-size: 1.1rem;}
.orange{color:#ff8e0d;}
.border-t1{ border-top: 1px solid #f7f7f7;}
#huif7{background: #f7f7f7;}
.dis-f{display: flex; align-items: center;}

//字体大小
.fz12{ font-size: .6rem;}
.fz14{ font-size: .7rem;}
.fz16{ font-size: .8rem;}
.fz18{ font-size: .9rem;}

//分享
.share{ /*position: absolute;*/text-align: center; background: #fff; width: 80%; /*height: 80vh;*/ margin:30%  auto 0; padding:15% 0;  }
.share img{  max-width:66%; /*margin-top: 15vh;*/  }

//充值
// 钻石 diamond
.diamond{
  .weui-media-box{ padding: 5px 15px; }
  .weui-media-box__ft{margin-right: 10px; }
  .weui-media-box:before{border-top: 1px solid #ccc;}

  .weui-navbar__item.weui-bar__item--on{border-bottom: 3px solid #05bc02; color: #05bc02;background: #fff;}
  .weui-icon-success{display: none;}
  .on .weui-icon-success{display: block;}
  .weui-btn{  margin: 20px 26px 0; font-size: .8rem;}/*充值按钮*/


  /*充值会员*/
  .notice{padding:10px 15px; border-bottom: 1px solid #eee ; line-height: 2; }
  .weui-media-box_appmsg .weui-media-box__hd{ width: 50px;  height: 50px; margin-right: .5rem;}
  .weui-media-box_appmsg .weui-media-box__thumb{ width: 40px; margin-top: 5px;}
  .weui-cell__ft{font-size: .6rem;}
}
/*会员详情*/
.vipDetails{
  padding: 0 15px;
  h4{ font-weight: normal;  line-height: 2.5; font-size: 1rem; color: #05bc02;}
  .weui-form-preview__bd{text-align: inherit; padding:0;  font-size: inherit;}
  .weui-form-preview__item{border-bottom: 1px dashed #d9d9d9; padding: 5px 0;}
  .weui-form-preview:after{border-bottom: 0;}
  .weui-form-preview__hd{padding: 0 ;}
  .weui-form-preview__hd:after{ border-bottom: 0; }
  .weui-btn{  margin:   20px 0 0; font-size: .8rem;}/*充值按钮*/

}

//充值记录
.traderecord{
  .title{ padding: 0 15px; line-height: 2.2; background: #f7f7f7;}
  .weui-media-box{padding: 0 15px; margin-bottom: 10px; padding-top: 10px;}

  // .weui-media-box:nth-child(even){ background:#f5f5f5; }
  .weui-media-box__title{}
  .weui-media-box__info{margin-top: 10px; border-bottom: 1px solid #e5e5e5;}
  // .weui-media-box:before{border-top:0; }
}

//个人信息
.my{
  background: #f7f7f7;
  header{ text-align: center;
  overflow: auto; color: #fff; padding: 1.4rem 0 .85rem;
      background: url("../img/vip-bg.png") center 0 /cover #ff9a0a;
    .logo { width: 3.2rem; height: 3.2rem; overflow: hidden; border-radius: 50%; border:5px solid rgba(255,255,255,.31);
      margin: 0 auto 0;}
      img{width: 100%;}
      .name{ font-size:.85rem;}
      p:last-child{ font-size: .65rem; display: inline-block; padding: .1rem .8rem; height: 1rem;line-height: 1rem;  margin: 0 auto; background: #ffcc1d; border-radius: .7rem; }

      }

  .weui-cell{}
  .weui-cell__hd{margin-right: 6px; }
  .weui-cell__bd{
    p{font-size: .8rem;}
  }
  .weui-cell__ft{font-size: .7rem;}
}
//返回
.backBar{
  height:2rem; line-height: 2rem;  width: 100%; padding: 0 .75rem; box-sizing: border-box; color: #fff;
  background: #ff8e0d; display: flex; align-items: center;
  .title{flex: 1;text-align: center;}
  p{flex: 1;text-align: center; margin-left: -2rem; align-items: center; }
  p.ml0{margin-left: 0;}
  //position: fixed;
  //position: absolute;
  a.back{
    display: inline-block;  width: 2rem;
    //height: 2rem;
    //background: red;
    i{ width: .75rem; height: .75rem; display: inline-block;}
    .text-icon.icon-shop-back{
      position: relative; left:.75rem ;/*top: $fz5;*/
      content: ''; display: block;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform:scaleY(0.8) rotateZ(45deg);
    }
  }
  a.inform{}
  a.regLogin{ width: 2rem; color: #fff; font-size: .6rem; text-align: right;}
}
// 提现
.withdraw{ font-size:.7rem; margin-top: 15px;
  .hd{ height: 2.2rem; line-height: 2.2rem; text-indent: .8rem; background: #eee; border-radius: 5px 5px 0 0 ;
    span{ color: #2c3566; margin-left: 1rem;}
  }
  .bd{
    background: #fff; padding: .8rem .8rem 0; border-radius: 0 0 5px 5px;
    input{ font-size: 1.2rem; padding: .3rem 0; width: auto;   }
    .balance{ padding: .5rem 0;}
  }
  .weui-btn_pay{ background: #ff8e0d; height: 1.75rem; line-height: 1.75rem; margin-top: 1rem;}
  .weui-btn_pay:after{ border:0;}
}

//余额
.balance{ font-size: .7rem; padding: 3.2rem .75rem 0 ;
  img:first-child{ width: 5.2rem;}
  p{ font-size:  1.2rem;
    &:before{content: '¥'; font-size: 1rem; }
  }
  .weui-btn{ height: 1.75rem; line-height: 1.75rem;}
  .weui-btn:first-of-type{ margin-top: 3.2rem;}
  .weui-btn:last-of-type{ background: #fff; color: #ff8e0d;}
}

//银行卡管理
.cards{
  dl{ display: flex; height: 4.3rem; margin-top: .75rem; background: #ff8e0d; border-radius: 5px; color: #fff;
    dt{ width: 2.25rem; margin: .5rem .6rem 0 1rem;
      img{ width: 100%;}
    }
    dd{flex: 1; margin: .6rem 0 0 0;
      .num{ font-size: .9rem;}
    }
  }
}

.talk{ }
.talk a{ display: block;}
.icon-member-addr-add{display: inline-block; width: 23px; height: 23px;  vertical-align: middle;
  background: url("../img/iconJia.png") 0 -2px / contain no-repeat;}


//登录
.login{  background: #fff;
  input{ height: 1.75rem; background: #f7f7f7; border-radius: .9rem; text-indent:1rem ; letter-spacing: 2px; font-size: .7rem;}
  .weui-cells{margin: 0; padding: 0 .75rem;}
  .weui-cells:before,.weui-cells:after{border: 0;}
  .weui-cell{margin: 1rem 0 0; padding: 0;  }
  .weui-btn_pay{ margin-top: 0; flex: 1; background: #ff8e0d; border-radius:.9rem; height: 2rem;line-height: 2rem;}
  .weui-cell:before,.weui-cell:after{ border:0;}
}
